<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item dropdown">
                <a class="nav-link" href="/products/women">Women</a>
                <div class="dropdown-menu multi-column">
                    <div class="dropdown-column">
                        <h5>Highlights</h5>
                        <a class="dropdown-item" href="/products/women">New Arrivals</a>
                        <a class="dropdown-item" href="/products/women">Cashmere Knitwear</a>
                        <a class="dropdown-item" href="/products/women">Made in Scotland</a>
                        <a class="dropdown-item" href="/products/women">Loungewear Collection</a>
                        <a class="dropdown-item" href="/products/women">Argyle</a>
                        <a class="dropdown-item" href="/products/women">Best Sellers</a>
                        <a class="dropdown-item" href="/products/women">Conscious Collection</a>
                        <a class="dropdown-item" href="/products/women">Gifts for Women</a>
                    </div>
                    <div class="dropdown-column">
                        <h5>Shop Knitwear</h5>
                        <a class="dropdown-item" href="/products/women">All Knitwear</a>
                        <a class="dropdown-item" href="/products/women">Cashmere</a>
                        <a class="dropdown-item" href="/products/women">Merino</a>
                        <a class="dropdown-item" href="/products/women">Lambswool</a>
                        <a class="dropdown-item" href="/products/women">Light Weight Knits</a>
                        <a class="dropdown-item" href="/products/women">Medium Weight Knits</a>
                        <a class="dropdown-item" href="/products/women">Heavy Weight Knits</a>
                    </div>
                    <div class="dropdown-column">
                        <h5>Shop Clothing</h5>
                        <a class="dropdown-item" href="/products/women">Loungewear</a>
                        <a class="dropdown-item" href="/products/women">Classic Cashmere</a>
                        <a class="dropdown-item" href="/products/women">Round Neck Knits</a>
                        <a class="dropdown-item" href="/products/women">V Neck Knits</a>
                        <a class="dropdown-item" href="/products/women">High Neck Knits</a>
                        <a class="dropdown-item" href="/products/women">Jackets</a>
                        <a class="dropdown-item" href="/products/women">Cardigans</a>
                        <a class="dropdown-item" href="/products/women">Vests</a>
                        <a class="dropdown-item" href="/products/women">Skirts</a>
                        <a class="dropdown-item" href="/products/women">Trousers</a>
                    </div>
                </div>
            </li>
    
            <li class="nav-item dropdown">
                <a class="nav-link" href="/products/men">Men</a>
                <div class="dropdown-menu multi-column">
                    <div class="dropdown-column">
                        <h5>Highlights</h5>
                        <a class="dropdown-item" href="/products/men">New Arrivals</a>
                        <a class="dropdown-item" href="/products/men">Cashmere Knitwear</a>
                        <a class="dropdown-item" href="/products/men">Lambswool Knitwear</a>
                        <a class="dropdown-item" href="/products/men">Cable Knit Jumpers</a>
                        <a class="dropdown-item" href="/products/men">Argyle</a>
                        <a class="dropdown-item" href="/products/men">Made in Scotland</a>
                        <a class="dropdown-item" href="/products/men">Best Sellers</a>
                        <a class="dropdown-item" href="/products/men">Conscious Collection</a>
                        <a class="dropdown-item" href="/products/men">Gifts for Men</a>
                    </div>
                    <div class="dropdown-column">
                        <h5>Shop Knitwear</h5>
                        <a class="dropdown-item" href="/products/men">All Knitwear</a>
                        <a class="dropdown-item" href="/products/men">Cashmere</a>
                        <a class="dropdown-item" href="/products/men">Merino</a>
                        <a class="dropdown-item" href="/products/men">Lambswool</a>
                        <a class="dropdown-item" href="/products/men">Cotton</a>
                        <a class="dropdown-item" href="/products/men">Light Weight Knits</a>
                        <a class="dropdown-item" href="/products/men">Medium Weight Knits</a>
                        <a class="dropdown-item" href="/products/men">Heavy Weight Knits</a>
                    </div>
                    <div class="dropdown-column">
                        <h5>Shop Clothing</h5>
                        <a class="dropdown-item" href="/products/men">Classic Cashmere</a>
                        <a class="dropdown-item" href="/products/men">Round Neck Knits</a>
                        <a class="dropdown-item" href="/products/men">V Neck Knits</a>
                        <a class="dropdown-item" href="/products/men">High Neck Knits</a>
                        <a class="dropdown-item" href="/products/men">Jumpers</a>
                        <a class="dropdown-item" href="/products/men">Cardigans</a>
                        <a class="dropdown-item" href="/products/men">Loungewear</a>
                        <a class="dropdown-item" href="/products/men">Vests</a>
                        <a class="dropdown-item" href="/products/men">Polo Shirts</a>
                    </div>
                </div>
            </li>
    
            <li class="nav-item dropdown">
                <a class="nav-link" href="#">Collections</a>
                <div class="dropdown-menu">
                    <div class="dropdown-column">
                        <h5>Collections</h5>
                        <a class="dropdown-item" href="#">Pringle Heritage</a>
                        <a class="dropdown-item" href="/products/women">Women's New Arrivals</a>
                        <a class="dropdown-item" href="/products/men">Men's New Arrivals</a>
                        <a class="dropdown-item" href="/products/men">Men's Cashmere Knitwear</a>
                        <a class="dropdown-item" href="/products/women">Women's Cashmere Knitwear</a>
                        <a class="dropdown-item" href="/products/men">Men's Wool Collection</a>
                        <a class="dropdown-item" href="#">Gifts</a>
                    </div>
                </div>
            </li>
    
            <li class="nav-item dropdown">
                <a class="nav-link" href="#">Accessories</a>
                <div class="dropdown-menu multi-column">
                    <div class="dropdown-column">
                        <h5>Women's Accessories</h5>
                        <a class="dropdown-item" href="#">View All</a>
                        <a class="dropdown-item" href="#">Scarves</a>
                        <a class="dropdown-item" href="#">Gloves</a>
                        <a class="dropdown-item" href="#">Hats & Beanies</a>
                        <a class="dropdown-item" href="#">Leg Warmers</a>
                        <a class="dropdown-item" href="#">Socks</a>
                    </div>
                    <div class="dropdown-column">
                        <h5>Men's Accessories</h5>
                        <a class="dropdown-item" href="#">View All</a>
                        <a class="dropdown-item" href="#">Scarves</a>
                        <a class="dropdown-item" href="#">Gloves</a>
                        <a class="dropdown-item" href="#">Hats & Beanies</a>
                        <a class="dropdown-item" href="#">Socks</a>
                    </div>
                    <div class="dropdown-column">
                        <h5>Gifts</h5>
                        <a class="dropdown-item" href="#">Gifts for Men</a>
                        <a class="dropdown-item" href="#">Gifts for Women</a>
                    </div>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link" href="#">Archive Collections</a>
            </li>
    
            <li class="nav-item dropdown">
                <a class="nav-link" href="/about">Our World</a>
                <div class="dropdown-menu multi-column">
                    <div class="dropdown-column">
                        <h5>Discover</h5>
                        <a class="dropdown-item" href="/about">Our Story</a>
                        <a class="dropdown-item" href="/about">Iconic Argyle</a>
                    </div>
                    <div class="dropdown-column">
                        <h5>Craftsmanship</h5>
                        <a class="dropdown-item" href="/about">Made in Scotland</a>
                        <a class="dropdown-item" href="/about">Cashmere</a>
                        <a class="dropdown-item" href="/about">Fibres Explained</a>
                        <a class="dropdown-item" href="/about">All About Gauge</a>
                    </div>
                    <div class="dropdown-column">
                        <h5>Sustainability</h5>
                        <a class="dropdown-item" href="/about">Sustainability</a>
                        <a class="dropdown-item" href="/about">Circularity</a>
                        <a class="dropdown-item" href="/about">Knitwear Care</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav> 